body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.film {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}

.characters {
    margin-left: 20px;
}

.loading {
    color: blue;
}